/*------------------------------------------------------
Fichier SCSS:
    Paramètres généraux 
        Les marges
        Les radius
        les paddings

Creation: 30/12/2021
Auteur: BTC
---------------------------------------------------------*/

/* Les rayons de courbure*/
$RadiusCard: 15px; /* Rayon de courbure pour les items : petit arrondi*/
$RadiusRond: 50px; /*50px pour faire un rond*/
