/*-------------------------------------------------
Feuille de style en scss
spécifique pour pages restaurants

Creation: 03/01/2022
Auteur: BTC

04/01/22  9h47
---------------------------------------------------*/

/* Importation partiels*/
@import "couleur";
@import "taille";
@import "general";
@import "mixins";

main {
  @include M_flex_box(column, center); /* vertical et elts centrés*/
  background-color: $FondGris; /* Sur fond gris*/
  padding-bottom: $TailleEspaceStandard; /* Marge avec  le footer*/

  /* Media query pour tablettes et desktop:
   On arrange les marges*/
  @media screen and (min-width: $TailleEcranDesktop) {
    padding: 20px 20%; /* Espace intérieur Haut/bas et Gauche/droite*/
    /*margin: $TailleEspaceStandard;*/
  }

  /* Le titre de la page du restaurant avec son image ,son nom et son petit coeur*/
  .TitrePage {
    @include M_flex_box(row, center); /* vertical: Image + description*/
    position: relative; /* Permet de placer les elts à l'interieur du container*/

    height: $HauteurRestaurantImg; /* Hauteur = celle de l'image*/

    margin-bottom: 30px;

    /* L'image*/
    .TitrePageImg {
      position: absolute; /* Fixe la position de l'elt*/
      width: 100%; /* 100% du container*/

      object-fit: cover; /* Moins tordu*/

      height: $HauteurRestaurantImg;
      z-index: 1; /* Description devant l'image: Image: 1 Description: 2*/
    }

    /* Le nom et le coeur*/

    .TitrePageDesc {
      position: absolute; /* Fixe la position de l'elt*/
      top: $HauteurRestaurantImg - 30px; /* Position par rapport au haut du container*/
      left: 0; /* Position par rapport à la gauche du container*/

      /*Taille*/
      height: 100px;
      width: 100%;

      z-index: 2; /* Description devant l'image*/

      .TitreDesc {
        @include M_flex_box(row, space-around); /* horizontal : nom + coeur*/

        background-color: $FondGris; /* Fond d'écran*/
        padding: $TailleEspaceStandard; /* Espace gauche/droite*/

        /* On arrondit les angles */
        border-radius: $RadiusRond;

        .TitreDescNom {
          h1 {
            font-family: Shrikhand; /* police caracteres*/
          }
        } /*fin  .TitreDescNom */
      } /* fin TitreDesc*/
    } /*/* fin TitrePageDesc*/
  } /* fin   .TitrePage*/

  /*-------------------------------------------*/
  /* Les plats*/
  /*-------------------------------------------*/

  /*-------------------------------------------*/
  /* Keyframes relatives aux menus*/
  /*-------------------------------------------*/

  $anim-dur: 1000ms; /* Durée de l'animation pour apparition des plats*/
  $max_item: 4; /*nombre d'items à afficher*/
  $anim-delay: $anim-dur / $max_item; /* délay d'apparition de l'animation*/
  $HauteurApparition: $HauteurPlatDescr; /* Hauteur depuis laquelle viendront les menus*/

  $SurvolAnimDur: 2000ms; /* Durée animation pour le survol des plats*/

  /* Apparition des menus après un delay*/
  /* On fait apparaitre le menu avant son arrivee*/
  @keyframes K_ApparitionMenu {
    0% {
      transform: translateY($HauteurApparition);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /*Keyframe pour faire apparaite la coche OK au survol
  par augmentation de la taille.*/
  @keyframes K_TranslateMenuOK {
    0% {
      width: 0px;
      opacity: 0;
      transform-origin: right;
    }

    100% {
      width: 40px;
      opacity: 1;
    }
  }

  /*Keyframe pour faire tournicoter la coche OK au survol*/
  @keyframes K_RotateMenuOK {
    0% {
      transform: rotate(0deg);
      opacity: 0;
    }

    100% {
      transform: rotate(360deg);
      opacity: 1;
    }
  }

  /*Keyframe pour doubler de volume*/
  @keyframes K_Double {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(2);
    }
  }

  /*Keyframe pour translater le prix  de la droite vers la gauche*/
  @keyframes K_TranslatePrix {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-300%);
    }
  }

  /*Keyframe pour reduitre la taille*/
  @keyframes K_Reduce {
    0% {
      width: 100%;
    }

    100% {
      width: 80%;
    }
  }
  /*------------------------------------------
  Liens sur les menus
  -------------------------------------------*/

  .Plats {
    @include M_flex_box(
      column,
      center
    ); /* vertical: Titre + la liste des plats*/

    .PlatsTitre {
      margin: $TailleEspaceStandard; /* Petite marge standard*/
      font-weight: 400; /* On affine un peu la police*/
      p {
        color: $CouleurTertiaire; /* On colorie le petit souligné*/
        font-weight: 800; /* On grossit le trait*/
      }
    }

    .PlatsListe {
      /* Liste des plats*/
      @include M_flex_box(column, center); /* vertical:  la liste des plats*/

      /* Apparition des menus*/
      &__load {
        /*animation: arrivéé des menus par le bas et en douceur avec "ease"*/
        animation: K_ApparitionMenu $anim-dur ease forwards; /*forwards: la valeur gardée est la dernièe*/
        @for $i from 1 through $max_item {
          &--#{$i} {
            animation-delay: $anim-delay * $i;
          }
        }

        /* cote cote:  Description + coche verte*/

        @include M_flex_box(row, space-between);
        margin: $TailleEspaceStandard; /* Marge entre chaque plat et son prix*/
        background-color: $CouleurFondDescRestaurants; /* Couleur de fond*/

        /* Taille*/
        height: $HauteurPlatDescr; /* hauteur de l'ensemble description + prix*/

        background-color: $CouleurFondDescRestaurants; /* Couleur de fond*/
        /* margin: $TailleEspaceStandard; /* Marge entre chaque plat et son prix*/
        opacity: 0;

        border-radius: $RadiusCard; /* On   arrondit les angles*/

        .PlatsDescr {
          @include M_flex_box(
            column,
            space-around
          ); /* Nom du plat puis en dessous: détail et prix à côté*/

          width: 100%; /* Occupe 100% de la largeur*/

          .PlatsNom {
            h3 {
              /* Le nom du plat*/

              margin-left: $TailleEspaceStandard; /* Position /bord gauche*/
              /* tronque le texte*/
              @include M_Troncate;
            }
          }

          .PlatsDetailEtPrix {
            /* L'ensemble détail du plat et son prix*/
            @include M_flex_box(
              row,
              space-between
            ); /* description et prix à côté*/

            .PlatsDetails {
              p {
                /* Le nom et description du plat à gauche*/

                margin-left: $TailleEspaceStandard; /* Position /bord gauche*/
                /* tronque le texte*/
                @include M_Troncate;
              }
            }

            .PlatsPrix {
              margin-right: $TailleEspaceStandard;
            }
          }
        } /*fin PlatsDescr*/
        .PlatsOK {
          display: flex; /* Permet de centrer le petit icone*/

          height: $HauteurPlatDescr; /* hauteur de l'ensemble description + prix*/
          /* width: 0%; /* Largeur jusqu'au bord droit*/

          color: $CouleurOK; /* Couleur du petit icone*/

          background-color: $CouleurTertiaire; /* Sur fond vert*/

          border-radius: 0 $RadiusCard $RadiusCard 0; /* On   arrondit les angles à droite*/
          opacity: 0; /* Caché jusqu'à nouvel ordre*/
        }

        /* Gestion du survol  de PlatsListe__Load*/
        /* Survol  déclenche le .PlatsOK*/
        &:hover .PlatsOK {
          animation: K_TranslateMenuOK $SurvolAnimDur ease forwards;
          /*  animation-duration: 1s;
            animation-name: K_TranslateMenuOK;
            animation-iteration-count: 1s;
            transition-timing-function: ease;
            animation-fill-mode: forwards;*/
        }

        /* Survol  on fait tourner le logo*/
        &:hover .Logo {
          animation: K_RotateMenuOK $SurvolAnimDur ease forwards;
        }

        /* Survol  on décale le prix*/
        &:hover .PlatsPrix {
          animation: K_TranslatePrix $SurvolAnimDur ease forwards;
        }

        /* Survol  on décale le nom*/
        &:hover .PlatsNom {
          animation: K_Reduce $SurvolAnimDur ease forwards;
        }

        /* Survol  on décale le a dexcription*/
        &:hover .PlatsDescription {
          animation: K_Reduce $SurvolAnimDur ease forwards;
        }
      } /* Fin load*/
    } /*Fin PlatsListe*/
  } /*Fin Plats*/

  .Bouton {
    width: 40%; /* Largeur du bouton*/
    margin: auto;
  }
} /* fin du main*/
