/*-------------------------------------------------
Feuille de style en scss
spécifique pour pages restaurants

Creation: 03/01/2022
Auteur: BTC

04/01/22  9h47
---------------------------------------------------*/

/* Variable indique page principale = index ou page restaurant*/
$PagePrincipale: "false";

/* Importation partiels*/
@import "couleur";
@import "taille";
@import "general";
@import "mixins";

main {
  @include M_flex_box(column, center); /* vertical et elts centrés*/
  background-color: $FondGris; /* Sur fond gris*/
  padding-bottom: $TailleEspaceStandard; /* Marge avec  le footer*/

  /* Media query pour tablettes et desktop:
   On arrange les marges*/
  @media screen and (min-width: $TailleEcranDesktop) {
    padding: 20px 20%; /* Espace intérieur Haut/bas et Gauche/droite*/
    /*margin: $TailleEspaceStandard;*/
  }

  /* Le titre de la page du restaurant avec son image et son nom*/
  .TitrePage {
    @include M_flex_box(row, center); /* vertical: Image + description*/
    position: relative; /* Permet de placer les elts à l'interieur du container*/

    height: $HauteurRestaurantImg; /* Hauteur = celle de l'image*/

    margin-bottom: 30px;

    .TitreImg {
      position: absolute; /* Fixe la position de l'elt*/
      width: 100%; /* 100% du container*/

      height: $HauteurRestaurantImg;
      z-index: 1; /* Description devant l'image: Image: 1 Description: 2*/
    }

    .TitreDesc {
      position: absolute; /* Fixe la position de l'elt*/
      top: $HauteurRestaurantImg - 50px; /* Position par rapport au haut du container*/
      left: 0; /* Position par rapport à la gauche du container*/

      /*Taille*/
      height: 100px;
      width: 100%;

      @include M_flex_box(row, space-between); /* horizontal : nom + coeur*/

      z-index: 2; /* Description devant l'image*/

      background-color: $FondGris; /* Fond d'écran*/
      padding: $TailleEspaceStandard; /* Espace gauche/droite*/

      /* On arrondit les angles */
      border-radius: $RadiusRond;

      h1 {
        font-family: Shrikhand; /* police caracteres*/
      }
    }
  }

  /*-------------------------------------------*/
  /* Les plats*/

  .Plats {
    @include M_flex_box(
      column,
      center
    ); /* vertical: Titre + la liste des plats*/

    .PlatsTitre {
      margin: $TailleEspaceStandard; /* Petite marge standard*/
      font-weight: 400; /* On affine un peu la police*/
      p {
        color: $CouleurTertiaire; /* On colorie le petit souligné*/
        font-weight: 800; /* On grossit le trait*/
      }
    }

    .PlatsDescr {
      @include M_flex_box(row, space-around); /* description et prix à côté*/
      position: relative; /* Permet de fixer les elts*/

      /* Taille*/
      height: $HauteurPlatDescr; /* hauteur de l'ensemble description + prix*/
      background-color: $CouleurFondDescRestaurants; /* Couleur de fond*/
      margin: $TailleEspaceStandard; /* Marge entre chaque plat et son prix*/

      border-radius: $RadiusCard; /* On   arrondit les angles*/

      .PlatsNom {
        /* Le nom et description du plat à gauche*/
        position: absolute; /* position fixe*/
        left: 10%; /* Position /bord gauche*/
        align-items: end; /*placé en bas du container  ??????????? ne ft pas?????????????????*/
      }

      .PlatsPrix {
        position: absolute; /* position fixe*/
        left: 90%; /* Position /bord gauche*/
        align-items: end; /*placé en bas du container    ??????????? ne ft pas?????????????????*/
      }

      .PlatsOK {
        display: flex; /* Permet de centrer le petit icone*/
        position: absolute; /* position fixe*/
        left: 90%; /* Position /bord gauche*/

        height: $HauteurPlatDescr; /* hauteur de l'ensemble description + prix*/
        width: 10%; /* Largeur jusqu'au bord droit*/

        color: $CouleurOK; /* Couleur du petit icone*/

        background-color: $CouleurTertiaire; /* Sur fond vert*/

        border-radius: 0 $RadiusCard $RadiusCard 0; /* On   arrondit les angles à droite*/
        display: none; /* Caché jusqu'à nouvel ordre*/
      }
    } /*fin PlatsDescr*/
  } /*Fin Plats*/

  .Bouton {
    width: 40%; /* Largeur du bouton*/
    margin: auto;
  }
} /* fin du main*/
