/*-------------------------------------------------
Feuille de style en scss

Creation: 30/12/2021
Auteur: BTC

---------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
}

/* Importation partiels*/
@import "couleur";
@import "taille";
@import "general";
@import "mixins";

/*Infos générales body*/
body {
  font-family: "Roboto", sans-serif;

  color: $CouleurTexte; /*Couleur du texte: noir*/

  margin: 0; /* supprime la marge pour chrome*/
}
.logo {
  margin: auto; /*Permet de centrer l'icone sur son container*/
}

/*Header*/
/*--------------------------*/

header {
  @include M_flex_box(column, center); /* Elts en vertical et centrés*/

  /* Le logo du site*/
  @include M_Affichage_Logo;
}

/*-----------------------------------------------------------------------------------*/

/*Section de recherche avec son formulaire*/
.Recherche {
  /* la section recherche contient 2 elts le h6 caché et le bloc RechercheItem*/
  @include M_flex_box(column, center); /* Elts en vertical et centrés*/

  /*Taille*/
  width: 100%; /*Affichage sur toute la largeur*/

  background-color: $FondGrisFonce;

  /* Bordure solid, grise  en haut du champ de recherche*/
  border-top: $HauteurRechercheBordure solid $CouleurBordure; /* bordure en haut du champde recherche*/

  margin: 20px auto 0 auto; /* haut | droit | bas | gauche */

  /* 2 parties pour le champ de recherche
    le logo
    Le champ de saisie*/

  .RechercheItem {
    /* l'ensemble logo + champ de saisie*/
    @include M_flex_box(row, center); /* Elts en horizontal et centrés*/
    width: 100%; /*Affichage sur toute la largeur -> Permet de centrer l'ensemble*/
    height: $HauteurRecherche; /*Hauteur forcée en pixels*/

    .RechercheLogo {
      display: flex; /* pour centrer le petit logo*/
      padding: 20px;

      margin-right: 2%; /* Séparation avec le champ de saisie*/
    }

    .RechercheChamp {
      /*Champ de la recherche utilisateur*/

      height: 100%;
      margin-left: 2%; /* séparation avec le logo*/

      background-color: $FondGrisFonce;
      p {
        /*Champ de la recherche utilisateur*/
        height: 100%;

        text-align: center;

        margin: 0;
      }

      .saisie {
        color: $CouleurTexte; /* couleur texte de saisie*/
        background-color: $FondGrisFonce; /* fond du champ de saisie (sinon reste en blanc*/

        height: 100%;

        border: none; /* supprime la bordure du champ de saisie*/
      }
    } /*fin RechercheChamp*/
  } /*Fin RechercheItem*/
} /*fin .Recherche*/

/*--------------------------------------------------------------------------*/

/*Promesse*/
.Promesse {
  @include M_flex_box(column, center); /* Elts en vertical et centrés*/

  background-color: $FondGris;

  align-items: center; /* centré*/

  width: 100%;

  padding: 20px 0 20px 0; /* Espace  haut et bas  haut | droit | bas | gauche */
}

.Bouton {
  color: $CouleurTexteBouton; /* texte en blanc*/
  background-color: $FondGris;

  height: $HauteurBouton; /* Hauteur forcée en pixels*/

  /* Fond dégradé pour le bouton du bas vers le haut*/
  background-image: linear-gradient(
    to top,
    $CouleurPrimaire,
    $CouleurSecondaire
  );

  border: none; /* Pas de bordure*/
  padding: 0 20px 0 20px; /* Espace gauche et droite sur le texte du bouton  haut | droit | bas | gauche */

  border-radius: $RadiusRond; /* Coins arrondis*/

  /* petite ombre*/
  @include M_Affichage_Ombre;
}

/*le bouton au survol*/
.Bouton:hover {
  /* Ajout d'une ombre  */
  box-shadow: 5px 5px 5px blue; /* Décalage horizontal, décalage vertical, force du dégradé, couleur*/
}

/*--------------------------------------------------------------------------*/
/* Liens articles (fonctionnement et Restaurants*/

.LienArticle a:link {
  /* lien au repos*/
  text-decoration: none; /*lien pas souligné*/
  color: black; /* couleur du lien au repos = noir*/
}

/* le lien au survol*/
.LienArticle a:hover {
  color: blue; /*bleu*/
}

/*--------------------------------------------------------------------------*/
/*fonctionnement*/

.Fonctionnement {
  /* ensemble Titre + liste de fonctionnement*/
  @include M_flex_box(column, center); /* Elts en vertical et centrés*/
  margin: 20px;

  /* La liste des items de fonctionnement*/
  .FonctListe {
    @include M_flex_box(
      column,
      center
    ); //* Les boutons les uns au dessus des autres*/

    /* Les couleurs de fond de chaque item*/
    .FondItem1_2 {
      background-color: $FondGris;
    }

    .FondItem3 {
      background-color: $CouleurItem3;
    }

    /* Article avec le numéro l'icone et la description*/
    .FonctItem {
      @include M_flex_box(row, center); /*horizontal*/
      position: relative; /* Permet de positionner les elts à l'intérieur*/
      height: $HauteurFonctItem; /*Hauteur forcée en pixels*/

      margin: 10px 0; /* Marge entre chaque bouton*/

      border-radius: $RadiusCard; /* coins arrondis*/

      /* Ajout d'une ombre*/
      @include M_Affichage_Ombre;

      /* Le numéro*/
      .FonctNum {
        display: flex;

        position: absolute;

        /* Carré de la taille = moitié du container de côté qui dépasse de la moitié à gauche*/
        left: -$HauteurFonctItem/4; /* dépasse à gauche de la moitié de l'icone =le quart du container*/
        top: $HauteurFonctItem/4; /* position / haut*/

        height: $HauteurFonctItem/2; /* Hauteur largeur fornée en px de la moitié de la hauteur du container*/

        width: $HauteurFonctItem/2;

        text-decoration: none; /*Pas de soulignement*/
        color: $CouleurNumFt; /* texte en blanc*/

        background-color: $CouleurPrimaire;

        border-radius: $RadiusRond; /* Le numéro dans un rond*/
        p {
          /* Le numéro dans son rond*/

          margin: auto; /* Permet de centrer le logo*/
        }
      }

      /* Le petit icone du fonctionnement*/
      .FonctIcone {
        position: absolute;
        left: 10%; /* Position / bord gauche*/
        top: $PositionFonctElt; /*Position / bord sup*/
      }

      /* couleur de l'icone 1 et 2*/
      .CouleurIconeItem12 {
        color: black;
      }

      /* couleur de l'icone 3*/
      .CouleurIconeItem3 {
        color: $CouleurPrimaire;
      }

      /* La Description*/
      .FonctDesc {
        position: absolute;
        left: 30%; /*Position / bord gauche*/
        top: $PositionFonctElt; /*Position / bord sup*/
      }
    } /* Fin FonctItem*/
  } /* fin FonctList*/
} /* fin Fonctionnement*/

/*---------------------------------------*/
/* Liste des restaurants*/
/*---------------------------------------*/

/* ensemble Titre + liste des restaurants*/
.Restaurants {
  @include M_flex_box(column, center); /* vertical: Titre + liste*/
  background-color: $CouleurFondRestaurants; /*sur fond blanc*/
}

/* Le Titre*/
.TitreRestaurants {
  margin: 20px;
}

/*Liste des restaurants*/
.RestaurantsListe {
  margin: 20px;
}
/* L'ensemble image + texte + coeur*/
.RestaurantItem {
  @include M_flex_box(
    column,
    space-between
  ); /* vertical: photo et en dessous la description*/
  /* disposition  sur la largeur*/

  background-color: $CouleurFondDescRestaurants; /*sur fond blanc*/

  margin: 20px; /* marge entre chaque restau*/

  /* On arrondit les angles*/
  border-radius: $RadiusCard; /* Tous les angles arrondis*/

  /* Ajout d'une ombre*/
  @include M_Affichage_Ombre;
}

.RestaurantDesc {
  /* le nom , le lieu puis le petit icone coeur à côté*/
  /* Horizontal et disposition avec des espaces entre chaque item et au bord*/
  @include M_flex_box(row, space-around);
}

.RestaurantNom {
  width: 70%; /* Occupe 70% de la largeur*/
  padding-left: 5%; /* petit décalage / bord*/
}

.RestaurantCoeur {
  margin: auto; /* centré*/
}

.RestaurantImg {
  width: 100%; /* 100% du container*/
  height: 300px;

  /* On arrondit les angles en haut*/
  border-radius: $RadiusCard $RadiusCard 0 0; /* Top left / Top right / Bottom right / Bottom left*/
}

/* Les liens sur les items restaurant*/

/* Effets supplémentaires au survol   */
.RestaurantItem:hover {
  /* Ajout d'une ombre  */
  box-shadow: 5px 5px 5px blue; /* Décalage horizontal, décalage vertical, force du dégradé, couleur*/
} /* */

/*--------------------------------------------------*/
/*Footer                                            */
/*--------------------------------------------------*/

footer {
  color: $CouleurTexteFooter; /*texte en blanc*/
  background-color: $CouleurFooter; /*Sur fond noir*/
  padding: 20px;
}

footer h1 {
  font-family: Shrikhand; /* Font family pour le logo*/
}

.PiedDePage {
  @include M_flex_box(row, start);
}
